<div id="messages">
  <p>
    <div class="message_username"><%= message.user.username.capitalize %>:
      <div class="message_timestamp"><%= message.created_at.strftime("%H:%M") %></div>
    </div>

    <div class="message_content"><%= message.content %></div>
  </p>
</div>
