<div class="middle">
  <div class="button" id="login"><%= link_to("Log In", "#") %></div>
  <div class="button" id="signup"><%= link_to("Sign Up", signup_path) %></div>
</div>

<div class="about">
  <h2>What is Cabal?</h2>
  Some Filler text about the app.
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
  <p>More stuff.</p>
</div>

<footer>Cabal 2016</footer>
