.chat-box {
  background-color: rgba(220,220,220,0.9);
  padding: .5em;
  border-top-right-radius: 12px;
  max-width: 100%;
  min-height: 83vh;
  max-height: 83vh;
  overflow-y: auto;
}

.input-box {
  background-color: rgba(220,220,220,0.9);
  padding: .5em;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  max-width: 100%;
  max-height: 20vh;
}

.input-box input {
  width: 73%;
  margin-left: .6em;
}

.input-box .send {
  width: 6%;
}

.message_username {
  color: #ff3125;
  font-weight: bold;
  float: left;
  clear: both;
  padding-right: .2em;
}

.message_timestamp {
  font-size: .7em;
  margin-bottom: 1em;
  color: #494949;
  padding-left: .2em;
}

.message_content {
  max-width: 94.5%;
  float: left;
  padding-bottom: 1em;
}

#messages {
  max-width: 96%;
}

.online_user {
  padding: .5em;
  border-bottom: 1px solid rgba(73,73,73,0.2);
  font-family: helvetica;
  font-weight: bold;
  font-size: small;
}

.sidebar_title {
  border-bottom: 1px solid rgba(73,73,73,0.4);
  padding-bottom: .5em;
}

.sidebar_title_box {
  background-color: rgba(220,220,220,0.9);
  border-right: 1px solid rgba(73,73,73,0.4);
  color: #202036;
  padding: 1em;
  max-width: 15vw;
  min-width: 15vw;
  max-height: 6vh;
  min-height: 6vh;
  border-top-left-radius: 12px;
  float: left;
}

.online_users_list {
  background-color: rgba(220,220,220,0.9);
  max-width: 15vw;
  min-width: 15vw;
  max-height: 75vh;
  min-height: 75vh;
  padding: 1em;
  border-right: 1px solid rgba(73,73,73,0.4);
  clear: left;
  float: left;
  overflow-y: auto;
}


// Media Queries

@media screen and (max-width: 1110px) {

.input-box input {
  width: 72%;
}

.input-box .send {
  width: 7%;
}

}

@media screen and (max-width: 931px) {

.input-box input {
  width: 70%;
}

.input-box .send {
  width: 8%;
}

}

@media screen and (max-width: 800px) {

.input-box input {
  width: 67%;
}

.input-box .send {
  width: 9%;
}

}

@media screen and (max-width: 700px) {

.input-box input {
  width: 64%;
}

.input-box .send {
  width: 10%;
}

.sidebar_title {
  padding-bottom: .5em;
  font-size: .8em;
}

.online_user {
  padding: .5em;
  font-size: x-small;
}

}

@media screen and (max-width: 600px) {

.input-box input {
  width: 61%;
}

.input-box .send {
  width: 12%;
}

}

@media screen and (max-width: 500px) {

.input-box input {
  width: 57%;
}

.input-box .send {
  width: 14%;
}

}

@media screen and (max-width: 419px) {

.input-box input {
  width: 47%;
}

.input-box .send {
  width: 17%;
}

}

@media screen and (max-width: 360px) {

.input-box input {
  width: 40%;
}

.input-box .send {
  width: 20%;
}

}
