.chat-box {
  background-color: rgba(220,220,220,0.9);
  padding: .5em;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  max-width: 100%;
  min-height: 83vh;
  max-height: 83vh;
  overflow-y: auto;
}

.input-box {
  background-color: rgba(220,220,220,0.9);
  padding: .5em;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  max-width: 100%;
  max-height: 20vh;
}

.input-box input {
  width: 100%;
}

.message_username {
  color: #ff3125;
  font-weight: bold;
  float: left;
  clear: both;
}

.message_timestamp {
  font-size: .7em;
  margin-bottom: 1em;
  color: #494949;
}

.message_content {
  max-width: 94.5%;
  width: 94.5%;
  float: right;
  padding-bottom: 1em;
}

#messages {
  max-width: 96%;
}
