h1 {
  color: #202036;
  margin: auto;
}

.login_form {
  margin: auto;
  margin-top: 5%;
  padding: 2%;
  max-width: 45%;
  text-align: center;
}

.login_form input {
  margin: auto;
  margin-top: 1em;
  display: block;
}

input[type=submit] {
  color: whitesmoke;
  background: none;
  background-color: #202036;
  padding: .4em 1em .4em 1em;
  border-radius: 25px;
  border: none;
}
