h1 {
  color: #202036;
  margin: auto;
}

.errors ul {
  list-style-type: none;
  color: #b20000;
  padding-left: 0;
}

.new_user_form {
  background-color: rgba(220,220,220,0.7);
  border-radius: 12px; 
  margin: auto;
  margin-top: 1%;
  padding: 2%;
  max-width: 20%;
  text-align: center;
}

.new_user_form input {
  margin: auto;
  margin-top: 1em;
  display: block;
}

input[type=submit] {
  color: whitesmoke;
  background: none;
  background-color: #202036;
  padding: .4em 1em .4em 1em;
  border-radius: 25px;
  border: none;
}

// Media Queries 

@media screen and (max-width: 900px) {

.new_user_form {
  max-width: 30%;
}

}

@media screen and (max-width: 690px) {

.new_user_form {
  max-width: 40%;
}

}

@media screen and (max-width: 500px) {

.new_user_form {
  max-width: 60%;
}

}

@media screen and (max-width: 350px) {

.new_user_form {
  max-width: 85%;
}

}
